<app-header (name)='getName($event)'></app-header>
<div *ngIf="pokemon" class="card">
  <img src="{{ pokemon.sprites.front_default }}" alt="" class="image_pokemon"/>
  <div class="card-body">
    <h1 class="card-title">{{ pokemon.name }}</h1>

    <div class="container mt-2">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation"><a data-bs-toggle="tab" href="#abilities" class="nav-link active" role="tab" aria-selected="true">abilities</a></li>
        <li class="nav-item" role="presentation"><a data-bs-toggle="tab" href="#stats" class="nav-link" role="tab" aria-selected="true">stats</a></li>
        <li class="nav-item" role="presentation"><a data-bs-toggle="tab" href="#type" class="nav-link" role="tab" aria-selected="true">type</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="abilities">
            <div>
                <div class="col p-4">
                    <h5>abilities</h5>
                    <ul class="list-group">
                      <li *ngFor="let abilitie of pokemon.abilities" class="list-group-item">
                        {{ abilitie.ability.name }}
                      </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="stats">
            <div>
                <div class="col p-4">
                    <h5>stats</h5>
                    <ul class="list-group">
                      <li *ngFor="let stat of pokemon.stats" class="list-group-item">
                        {{ stat.stat.name }}:{{ stat.base_stat }}
                      </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="type">
            <div>
                <div class="col p-4">
                    <h5>type</h5>
                    <ul class="list-group">
                      <li *ngFor="let type of pokemon.types" class="list-group-item">
                        {{ type.type.name }}
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    </div>
  </div>
</div>

<div *ngIf="pokemon_list">
  <div *ngFor="let pok of pokemon_list" class="cardList">
    <!--<img src="{{ pok.sprites.front_default }}" alt="" class="image_pokemon"/> -->
    <div class="card-body">
      <h1 class="card-title">{{ pok.name }}</h1>
    </div>
  </div>
</div>

<app-paginator (pokemonList)="getPokemonList($event)">
</app-paginator>